.aside__logo-wrapper {}

.aside__logo {
    height: 26px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -73%;
    height: 100%;
    width: 73%;
    transition: 0.33s all ease;
    background-color: white;
    z-index: 16;
}

.sidebar.open {
    left: 0;
}

.aside__header {
    height: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 12px 21px 24px
}

.sidebar__ul {
    padding: 0;
    margin: 0;
}

.sidebar__ul>li {
    list-style: none;
    height: 61px;
    display: flex;
    align-items: center;
    padding-left: 24px;
}

li>a {
    font-size: 14px;
    color: #262a39;
}

.sidebar__overlay,
.sidebarOverlay {
    height: 100%;
    width: 100%;
    transition: 0.33s all ease;
    z-index: 11;
    position: fixed;
    top: 0;
}

.sidebar__overlay {
    background-color: black;
    opacity: 0.5;
    right: 0;
}

.sidebarOverlay {
    left: 0%;
    background-color: white;
    display: none
}