.container {
    margin-top: 120px;
    margin-left: 50px;
    padding: 15px;
    transition: unset;
}

.card {
    margin-right: 30px;
    margin-bottom: 30px;
}

.card-img {
    z-index: 10;
    height: 100%;
}

.card-img:after {
    content: '';
    border-radius: 10px;
    display: block;
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
    height: 80%;
    background: linear-gradient(rgba(54, 54, 54, 0), #000);
}

.card-img>img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.card-details {
    padding-left: 12px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    z-index: 10;
}

.card-title {
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.card-title-btns {
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    display: flex;
}

.card-title-btns>span:nth-child(1) {
    margin-right: 54px
}

.sharebtn__wrapper>span {
    margin-right: 12px;
}

.sharebtn__wrapper>span:last-child {
    margin-right: 0;
}

.sharebtn__wrapper>span>img:hover {
    animation: shake 0.9s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    cursor: pointer;
}

.ant-modal-content {
    border-radius: 13px !important;
    background-color: #ffffff !important;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.16) !important;
    padding-bottom: 61px;
}

.ant-modal-header {
    border-bottom: 0 !important;
    padding-top: 0 !important;
    text-align: center;
    font-family: "Poppins", sans-serif !important;
    margin-bottom: 14px
}

.ant-modal-close {
    left: 84% !important;
    position: relative !important;
}

.ant-modal-body {
    padding: 0 20px !important;
    display: flex;
    justify-content: space-around;
}

.clickMe {
    width: 121px;
    height: 32px;
    border-radius: 4px;
    background-color: #e5303e;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px auto;
    font-size: 10px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    position: relative;
}

.clickMe:hover {
    background-color: #EEEEF7
}

.clickMe:after {
    content: "";
    background: #3b87bc;
    display: block;
    position: absolute;
    padding-top: 30%;
    padding-left: 110%;
    margin-left: 0px !important;
    margin-top: 0px;
    opacity: 0;
    transition: all 0.4s
}

.clickMe:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}


/* iphone 5 */

@media screen and (min-width: 320px) and (max-width: 359px) {
    .container {
        margin-top: 40px;
        margin-left: 0;
    }
    .card {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .card-img {
        width: 235px;
    }
}


/* samsung */

@media screen and (min-width: 360px) and (max-width: 374px) {
    .container {
        margin-top: 40px;
        margin-left: 0;
        padding: 0
    }
    .card {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .card-img {
        width: 300px;
    }
}


/* iphone 6 */

@media screen and (min-width: 375px)and (max-width: 410px) {
    .container {
        margin-top: 40px;
        margin-left: 0;
        padding: 0
    }
    .card {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .card-img {
        width: 305px;
    }
}

@media screen and (min-width: 411px) and (max-width: 763px) {
    .container {
        margin-top: 27px;
        margin-left: 0;
        padding: 0
    }
    .card {
        margin-right: 0;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        margin-left: 30px
    }
    .card-img {
        width: 283px
    }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .container {
        margin-left: 38px;
    }
    .card-img {
        width: 263px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1440px) {
    .container {
        margin-left: 78px;
    }
    .card-img {
        width: 326px;
    }
}

@media screen and (min-width: 1440px) and (max-width: 1920px) {
    .container {
        margin-left: 108px;
    }
    .card-img {
        width: 406px;
    }
}