.navlinks__wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}

.nav__sidebar-btn {
    position: absolute;
    top: 25px;
    left: 18px;
    display: none
}

.globalpagetitle {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 900;
    color: #262a39;
    margin-top: 107px;
    text-shadow: 0 4.5px 6px rgba(0, 0, 0, 0.16);
}

.frontpagetitle {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 30px;
    font-size: 24px;
    color: #262a39;
    text-shadow: 0 4.5px 6px rgba(0, 0, 0, 0.16);
}

.nav__links>span>a {
    font-size: 16px;
    color: #262a39;
    margin-right: 40px
}

.nav__links>span>a:hover {
    opacity: 0.8;
}

.nav__links>button {
    border-radius: 8px;
    background-color: #3b87bc;
    color: white;
    padding: 10px 20px;
    height: 40px;
}

.nav__links>button:active,
.nav__links>button:focus {
    border: white;
}


/* iphone 5 */

@media screen and (max-width: 768px) {
    .globalpagetitle {
        font-size: 26px;
        margin-top: 40px;
        font-weight: 600;
    }
    .frontpagetitle {
        margin-bottom: 38px;
        margin-top: 8px;
        font-size: 12px;
    }
    .nav__links {
        display: none
    }
    .nav__sidebar-btn {
        display: block
    }
    .navlinks__wrapper {
        height: 40px;
    }
    .nav__logo>img {
        height: 22px;
        width: 111px
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .globalpagetitle {
        font-size: 26px;
        margin-top: 40px;
    }
    .frontpagetitle {
        margin-bottom: 38px;
        margin-top: 8px;
        font-size: 12px;
    }
}