a {
    text-decoration: none
}

.card {
    height: 425px;
    width: 360px;
    background-color: #fff;
    border: 1px solid #d7d7d7;
    margin: 40px auto;
    border-radius: 5px
}

.card:hover {
    box-shadow: 3px 3px 4px #d7d7d7;
    transform: scaleY(0.99)
}

.card-image {
    height: 240px;
    width: 100%;
}

.card-image>img {
    height: 100%;
    width: 100%;
}

.card-details {
    padding: 20px;
}

.card-date {
    color: rgb(121, 120, 120);
    margin-bottom: 10px
}

.card-title {
    font-weight: bold;
    margin-bottom: 10px
}