.loading-wrapper {
    margin-top: 60px;
    padding-left: 15px;
}

.loading-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.loading-cards>div {
    height: 240px;
    width: 340px;
    background: #E6ECF1;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    animation: loading 1s 1s infinite;
    animation-timing-function: ease-in-out
}

@keyframes loading {
    from {
        background: #E6ECF1;
    }
    to {
        background: #E6ECF1;
        opacity: 0.4
    }
}