.footer__container {
    background-color: #262a39;
    padding: 82px 100px;
    color: #fff;
    font-size: 16px;
    margin-top: 300px
}

.footer__logo,
.footer__links {
    margin-bottom: 40px;
}

.footer__links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__connect {
    display: flex;
    margin-bottom: 100px;
}

.footer__connect-title {
    margin-right: 22px
}

.footer__connect-icons span {
    margin-right: 32px
}

.footer__links-left>span:nth-child(1) {
    margin-right: 40px
}

.footer__links-right>Button {
    border-radius: 8px;
    border: solid 1px #ffffff;
    background: none;
    color: white
}

.footer__links-right>Button:nth-child(1) {
    margin-right: 40px;
    margin-bottom: 15px;
}

.ant-btn:hover,
.ant-btn:focus {
    background: none !important
}

.footer__copyrights {
    text-align: center;
}

.copyright-year,
.copyright-title,
.copyright-links>span:nth-child(1) {
    margin-right: 40px
}


/* iphone 5 */

@media screen and (min-width: 320px) and (max-width: 359px) {
    .footer__container {
        padding: 30px 18px;
        color: #fff;
        font-size: 10px;
        margin-top: 130px
    }
    .mobile-footer__links>span {
        margin-bottom: 16px
    }
    .mobile-footer__links {
        display: flex;
        flex-direction: column
    }
    .footer__connect {
        display: flex;
        margin-bottom: 62px;
    }
    .footer__connect-title {
        margin-right: 9px
    }
    .footer__connect-icons span {
        margin-right: 16px
    }
}


/* samsung */

@media screen and (min-width: 360px) and (max-width: 374px) {
    .footer__container {
        padding: 30px 18px;
        color: #fff;
        font-size: 10px;
        margin-top: 130px
    }
    .mobile-footer__links {
        display: flex;
        flex-direction: column
    }
    .mobile-footer__links>span {
        margin-bottom: 16px
    }
    .footer__connect {
        display: flex;
        margin-bottom: 62px;
    }
    .footer__connect-title {
        margin-right: 9px
    }
    .footer__connect-icons span {
        margin-right: 16px
    }
}


/* iphone 6 */

@media screen and (min-width: 375px)and (max-width: 410px) {
    .footer__container {
        padding: 30px 18px;
        color: #fff;
        font-size: 10px;
        margin-top: 130px
    }
    .mobile-footer__links {
        display: flex;
        flex-direction: column
    }
    .mobile-footer__links>span {
        margin-bottom: 16px
    }
    .footer__connect {
        display: flex;
        margin-bottom: 62px;
    }
    .footer__connect-title {
        margin-right: 9px
    }
    .footer__connect-icons span {
        margin-right: 16px
    }
}

@media screen and (min-width: 411px) and (max-width: 763px) {
    .footer__container {
        padding: 30px 18px;
        color: #fff;
        font-size: 10px;
        margin-top: 130px
    }
    .mobile-footer__links {
        display: flex;
        flex-direction: column
    }
    .mobile-footer__links>span {
        margin-bottom: 16px
    }
    .footer__connect {
        display: flex;
        margin-bottom: 62px;
    }
    .footer__connect-title {
        margin-right: 9px
    }
    .footer__connect-icons span {
        margin-right: 16px
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .mobile-footer__links {
        display: flex;
        flex-direction: column
    }
    .mobile-footer__links>span {
        margin-bottom: 16px
    }
    .footer__connect {
        display: flex;
        margin-bottom: 62px;
    }
    .footer__connect-title {
        margin-right: 9px
    }
    .footer__connect-icons span {
        margin-right: 16px
    }
}