.footer__container {
    background-color: #f0f0f0;
    border: solid 0px #707070;
    padding: 82px 100px;
    color: #262a39;
    font-size: 16px;
    margin-top: 100px;
    position: relative;
}

.footer__connect-title {
    margin-right: 22px
}

.footer__connect-icons a {
    color: #262a39
}

.footer__connect-icons a:hover {
    opacity: 0.5;
    color: #262a39
}

.footer__connect-icons span {
    margin-right: 32px;
}

.footer__links-left {
    display: flex;
    flex-wrap: wrap;
    margin-top: 52px;
    margin-bottom: 80px;
}

.footer__links-left>span {
    margin-right: 80px
}

.footer__links-left>span>a {
    color: #262a39;
}

.footer__links-left>span>a:hover {
    color: #262a39;
    opacity: 0.8;
}

.footer__links-right>Button {
    border-radius: 8px;
    border: solid 1px #ffffff;
    background: none;
    color: white
}

.footer__links-right>Button:nth-child(1) {
    margin-right: 40px;
    margin-bottom: 15px;
}

.ant-btn:hover,
.ant-btn:focus {
    background: none !important
}

.footer__links-right {
    height: 32px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}

.footer__links-right:hover {
    background-color: #EEEEF7
}

.footer__head-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px
}

.footer__copyrights {
    text-align: center;
}

.footer__copyrights>span {
    margin-right: 24px
}

.footer__copyrights>span>a {
    color: #262a39;
}

.footer__copyrights>span>a:hover {
    color: #262a39;
    opacity: 0.8;
}

@media screen and (max-width: 763px) {
    .footer__container {
        padding: 40px 18px;
        color: #262a39;
        font-size: 10px;
        margin-top: 30px
    }
    .footer__logo {
        margin-bottom: 0
    }
    .mobile-footer__links {
        display: flex;
        flex-direction: column
    }
    .mobile-footer__links>span {
        margin-bottom: 24px
    }
    .mobile-footer__links>span>a {
        color: #262a39;
    }
    .mobilefooter__links-right {
        padding: 0 25px;
        height: 32px;
        border-radius: 4px;
        background-color: #ffffff;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        font-size: 8px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mobilefooter__head-wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px
    }
    .footer__connect {
        display: flex;
        margin-bottom: 53px;
    }
    .footer__connect-title {
        margin-right: 9px
    }
    .footer__connect-icons span {
        margin-right: 16px;
        font-size: 14px;
    }
    .mobilefooter__copyrights {
        font-size: 8px;
        display: flex;
        justify-content: space-between
    }
    .mobilefooter__copyrights>span>a {
        color: #262a39;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .mobile-footer__links {
        display: flex;
        flex-direction: column
    }
    .mobile-footer__links>span {
        margin-bottom: 16px
    }
    .footer__connect {
        display: flex;
        margin-bottom: 62px;
    }
    .footer__connect-title {
        margin-right: 9px
    }
    .footer__connect-icons span {
        margin-right: 16px
    }
}