.blog__body {
    padding-left: 111px;
    font-size: 18px;
    width: 888px;
    color: #262a39;
}

.blog__body-share-btn {
    margin-bottom: 40px;
    color: #3b87bc;
    cursor: pointer;
}

.blog-detail__jumbotron-details {
    position: absolute;
    top: 40px;
    left: 23%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog__jumbotron-details-title {
    font-size: 32px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 82px
}

.blog__jumbotron-details-img {
    width: 88px;
    height: 88px;
    border-radius: 100%;
    border: 3px solid #ffffff;
    /* margin-bottom: 18px; */
}

.blog__jumbotron-details-author {
    font-size: 16px;
    line-height: 2.5;
    color: #ffffff;
}

.blog__jumbotron-details-author-title {
    font-size: 16px;
    line-height: 2.5;
    color: #7e6b6b;
}

.blog__jumbotron-details-img>img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.blog__body-title {
    line-height: 40px;
    margin-bottom: 120px;
}

.blog__body-rating {
    display: flex;
    margin-bottom: 80px
}

.blog__body-rating-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 2;
    color: #262a39;
    margin-bottom: 80px
}

.blog__body-rating>div {
    margin-right: 80px
}

.blog__body-rating>div>span {
    color: #3b87bc;
}

.blog__rate-wrapper {
    padding: 0 131px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.blog__rate {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 188px;
    height: 40px;
    border-radius: 19px;
    background-color: #ffffff;
    border: solid 1px #3b87bc;
    color: #3b87bc;
    font-size: 16px;
    line-height: 2;
    cursor: pointer;
}

.blog__rate>div {
    margin-right: 10px;
}

.blog__subscribe {
    margin-left: 131px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 301px;
    height: 52px;
    border-radius: 8px;
    background-color: #e5303e;
    font-size: 20px;
    color: #ffffff;
}