.detailpage__wrapper {
    padding-left: 140px;
    padding-right: 140px;
    position: relative;
}

.detailpage__back-btn {
    width: 53px;
    height: 24px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    display: none;
    position: absolute;
    top: -39px;
    right: 12px;
}

.detailpage__back-btn:hover {
    background-color: #EEEEF7
}

.detailpage__back-btn>span {
    font-size: 10px;
    color: #707070;
    text-shadow: 0 9px 12px rgba(0, 0, 0, 0.16);
}

.detailpage__title {
    margin-top: 124px;
    color: #262a39;
    font-size: 24px;
    font-weight: 600;
    text-shadow: 0 9px 12px rgba(0, 0, 0, 0.16);
}

.detailpage__summary {
    margin-top: 15px;
    color: #262a39;
    font-size: 16px;
    text-shadow: 0 9px 12px rgba(0, 0, 0, 0.16);
}

.detailpage__slug-title {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 2.2;
    color: #262a39;
}

.detailpage__slug-title>span {
    color: #e5303e;
    margin-right: 24px;
    text-shadow: 0 9px 12px rgba(0, 0, 0, 0.16);
    font-size: 16px;
}

.detailpage__share-btn {
    margin-bottom: 54px;
    color: #3b87bc;
    cursor: pointer;
}

.detailpage__share-btn>span {
    margin-left: 24px;
}

.detailpage__share-btn>span>span {
    margin-right: 24px;
    cursor: pointer;
}

.detailpage__slug-title>span {
    color: #e5303e;
    margin-right: 24px;
    text-shadow: 0 9px 12px rgba(0, 0, 0, 0.16);
    font-size: 16px;
}

.card__summary-image {
    width: 336px;
    height: 456px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: #E6ECF1;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.card__summary-image>img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.card__summary-image:nth-child(odd) {
    margin-right: 30px
}

.card__similar-trend {
    margin-top: 120px
}

.card__similar-trend-img {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 40px
}

.card__similar-trend-title {
    font-size: 24px;
    font-weight: 600;
    color: #262a39;
}

.card__similar-image {
    width: 336px;
    margin-bottom: 77px;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    margin-right: 30px
}

.card__similar-image img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.card__similar-image>div {
    margin-top: 8px
}

.card__similar-image:nth-child(3) {
    margin-right: 0
}

.content__text-wrapper {
    font-size: 20px;
    line-height: 2.2;
    color: #262a39;
    margin-bottom: 40px;
    max-width: 750px;
    text-align: justify;
}

.content__image-wrapper {
    display: flex;
    max-width: 762px;
    flex-wrap: wrap;
    display: inline-block;
}

.plyr {
    width: 750px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.advert-here {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 12%;
    right: 10%;
    width: 261px;
    height: 337px;
}

.advert-here-box {
    background-color: #efefef;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    display: flex;
    justify-content: center;
    align-items: center;
}

.advert-here::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 50%;
    background: linear-gradient(rgba(54, 54, 54, 0), #000);
}

.advert__title {
    position: absolute;
    bottom: 50%;
    font-weight: bold;
    color: white;
    font-size: 20px;
    z-index: 100;
}

.advert__description {
    position: absolute;
    bottom: 32%;
    color: white;
    font-size: 16px;
    z-index: 100;
}

.advert__button_link {
    position: absolute;
    bottom: 10%;
    z-index: 100;
}

.advert-here-box>img {
    height: 100%;
    width: 100%;
}

.blockquote {
    max-width: 762px;
    display: inline-block;
    margin-top: 80px;
    padding-left: 98px;
    padding-right: 98px
}

.blockquote>div {
    text-align: center;
    margin-bottom: 44px;
}

.blockquote>div>img {
    width: 32px;
    height: 22px;
}

.blockquote__quote {
    font-size: 20px;
    line-height: 2.2;
    color: #262a39;
    text-align: center;
}

.blockquote__author {
    text-align: center;
    font-size: 24px;
    line-height: 1.83;
    color: #262a39;
}


/* iphone 5 */

@media screen and (min-width: 320px) and (max-width: 359px) {
    .detailpage__wrapper {
        padding: 0 32px;
    }
    .detailpage__title {
        margin-top: 9px;
        font-size: 16px;
        font-weight: 500;
    }
    .detailpage__slug-title>span {
        font-size: 10px;
    }
    .detailpage__slug-title {
        margin-bottom: 5px;
    }
    .detailpage__share-btn>span {
        display: none
    }
    .detailpage__share-btn {
        font-size: 10px;
        color: #3b87bc;
        text-shadow: 0 9px 12px rgba(0, 0, 0, 0.16);
        margin-bottom: 27px;
    }
    .content__text-wrapper {
        font-size: 12px;
        margin-bottom: 30px;
    }
    .card__summary-image {
        width: 257px;
        height: 390px;
    }
    .blockquote {
        margin-top: 16px;
        padding: 0
    }
    .blockquote__quote {
        font-size: 14px;
        margin-bottom: 8px;
    }
    .blockquote>div {
        text-align: center;
        margin-bottom: 25px;
    }
    .blockquote__author {
        font-size: 16px;
        margin-bottom: 0;
    }
    .card__similar-trend {
        margin-top: 90px
    }
    .card__similar-trend-title {
        font-size: 16px;
        font-weight: 500;
    }
    .card__similar-trend-img {
        margin-top: 30px
    }
    .card__similar-image {
        margin-right: 0px
    }
    .detailpage__back-btn {
        display: flex;
        justify-content: center;
        align-items: center
    }
    .detailpage__summary {
        font-size: 11px;
    }
    .advert-here {
        height: 250px;
        width: 200px;
        right: 25%;
        bottom: 0;
    }
}


/* samsung */

@media screen and (min-width: 360px) and (max-width: 374px) {
    @media screen and (max-width: 768px) {
        .detailpage__wrapper {
            padding: 0 32px;
        }
        .detailpage__summary {
            font-size: 11px;
        }
        .detailpage__title {
            margin-top: 9px;
            font-size: 16px;
            font-weight: 500;
        }
        .detailpage__slug-title>span {
            font-size: 10px;
        }
        .detailpage__slug-title {
            margin-bottom: 5px;
        }
        .detailpage__share-btn>span {
            display: none
        }
        .detailpage__share-btn {
            font-size: 10px;
            color: #3b87bc;
            text-shadow: 0 9px 12px rgba(0, 0, 0, 0.16);
            margin-bottom: 27px;
        }
        .content__text-wrapper {
            font-size: 12px;
            margin-bottom: 30px;
        }
        .card__summary-image {
            width: 295px;
        }
        .blockquote {
            margin-top: 16px;
            padding: 0
        }
        .blockquote__quote {
            font-size: 14px;
            margin-bottom: 8px;
        }
        .blockquote>div {
            text-align: center;
            margin-bottom: 25px;
        }
        .blockquote__author {
            font-size: 16px;
            margin-bottom: 0;
        }
        .card__similar-trend {
            margin-top: 90px
        }
        .card__similar-trend-title {
            font-size: 16px;
            font-weight: 500;
        }
        .card__similar-trend-img {
            margin-top: 30px
        }
        .card__similar-image {
            margin-right: 0px
        }
        .detailpage__back-btn {
            display: flex;
            justify-content: center;
            align-items: center
        }
        .advert-here {
            height: 250px;
            width: 200px;
            right: 25%;
            bottom: 0;
        }
    }
}


/* iphone 6 */

@media screen and (min-width: 375px)and (max-width: 410px) {
    @media screen and (max-width: 768px) {
        .detailpage__wrapper {
            padding: 0 32px;
        }
        .detailpage__title {
            margin-top: 9px;
            font-size: 16px;
            font-weight: 500;
        }
        .detailpage__slug-title>span {
            font-size: 10px;
        }
        .detailpage__slug-title {
            margin-bottom: 5px;
        }
        .detailpage__share-btn>span {
            display: none
        }
        .detailpage__share-btn {
            font-size: 10px;
            color: #3b87bc;
            text-shadow: 0 9px 12px rgba(0, 0, 0, 0.16);
            margin-bottom: 27px;
        }
        .content__text-wrapper {
            font-size: 12px;
            margin-bottom: 30px;
        }
        .card__summary-image {
            width: 306px;
        }
        .blockquote {
            margin-top: 16px;
            padding: 0
        }
        .blockquote__quote {
            font-size: 14px;
            margin-bottom: 8px;
        }
        .blockquote>div {
            text-align: center;
            margin-bottom: 25px;
        }
        .blockquote__author {
            font-size: 16px;
            margin-bottom: 0;
        }
        .card__similar-trend {
            margin-top: 90px
        }
        .card__similar-trend-title {
            font-size: 16px;
            font-weight: 500;
        }
        .card__similar-trend-img {
            margin-top: 30px
        }
        .card__similar-image {
            margin-right: 0px
        }
        .detailpage__back-btn {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .detailpage__summary {
            font-size: 11px;
        }
        .advert-here {
            height: 250px;
            width: 200px;
            right: 25%;
            bottom: 0;
        }
    }
}

@media screen and (min-width: 411px) and (max-width: 763px) {
    @media screen and (max-width: 768px) {
        .detailpage__wrapper {
            padding: 0 32px;
        }
        .detailpage__title {
            margin-top: 9px;
            font-size: 16px;
            font-weight: 500;
        }
        .detailpage__slug-title>span {
            font-size: 10px;
        }
        .detailpage__slug-title {
            margin-bottom: 5px;
        }
        .detailpage__share-btn>span {
            display: none
        }
        .detailpage__share-btn {
            font-size: 10px;
            color: #3b87bc;
            text-shadow: 0 9px 12px rgba(0, 0, 0, 0.16);
            margin-bottom: 27px;
        }
        .content__text-wrapper {
            font-size: 12px;
            margin-bottom: 30px;
        }
        .card__summary-image {
            width: 347px;
        }
        .blockquote {
            margin-top: 16px;
            padding: 0
        }
        .blockquote__quote {
            font-size: 14px;
            margin-bottom: 8px;
        }
        .blockquote>div {
            text-align: center;
            margin-bottom: 25px;
        }
        .blockquote__author {
            font-size: 16px;
            margin-bottom: 0;
        }
        .card__similar-trend {
            margin-top: 90px
        }
        .card__similar-trend-title {
            font-size: 16px;
            font-weight: 500;
        }
        .card__similar-trend-img {
            margin-top: 30px
        }
        .card__similar-image {
            margin-right: 0px
        }
        .detailpage__back-btn {
            display: flex;
            justify-content: center;
            align-items: center
        }
        .detailpage__summary {
            font-size: 11px;
        }
        .advert-here {
            height: 250px;
            width: 200px;
            right: 25%;
            bottom: 0;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1025px) {
    .detailpage__wrapper {
        padding: 0 32px;
    }
    .detailpage__title {
        margin-top: 9px;
        font-size: 16px;
        font-weight: 500;
    }
    .detailpage__slug-title>span {
        font-size: 10px;
    }
    .detailpage__slug-title {
        margin-bottom: 5px;
    }
    .detailpage__share-btn>span {
        display: none
    }
    .detailpage__share-btn {
        font-size: 10px;
        color: #3b87bc;
        text-shadow: 0 9px 12px rgba(0, 0, 0, 0.16);
        margin-bottom: 27px;
    }
    .content__text-wrapper {
        font-size: 12px;
        margin-bottom: 30px;
    }
    .card__summary-image {
        width: 322px;
    }
    .blockquote {
        margin-top: 16px;
        padding-left: 98px;
        padding-right: 98px;
    }
    .blockquote__quote {
        font-size: 14px;
        margin-bottom: 8px;
    }
    .blockquote>div {
        text-align: center;
        margin-bottom: 25px;
    }
    .blockquote__author {
        font-size: 16px;
        margin-bottom: 0;
    }
    .card__similar-trend {
        margin-top: 90px
    }
    .card__similar-trend-title {
        font-size: 16px;
        font-weight: 500;
    }
    .card__similar-trend-img {
        margin-top: 30px
    }
    .detailpage__back-btn {
        display: flex;
        justify-content: center;
        align-items: center
    }
    .detailpage__summary {
        font-size: 12px;
    }
}